* {
    margin: 0;
    padding: 0;

    /* max-width: 1400px; */
}

.global-center {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}



div.all-spots-container {
    max-width: 1245px;
    margin: 20px auto;
    column-gap: 15px;
    row-gap: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

}

/* div.all-spots-container::after {
    margin-left: 600px;
    content:"";
} */



div.spots-card-container {
    width: 300px;
    height: 240px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    gap: 5px;
}



.spots-image-container {
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    width: 96%;
    min-height: 170px;
}



.spots-image-container img {
    width: 100%;
    height: 100%;
    border: none;
}


.spots-card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    width: 97%;
    height: 100%;
    gap: 3px;
}

.location-rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.reset-text {
    text-decoration: none;
    color: black;
}


.update_delete_buttons {
    display: flex;
    justify-content: flex-start;
    gap: 7px;;
    padding-top: 5px;

}

.update_delete_buttons button {
    background-color: darkgrey;
    width: 70px;
    height: 25px;
    border-radius: 10px;
}

i .fa-star {
    display: flex;
    gap: 5px;;
}

.create-new-spot.button {
    border-radius: 10px;
    background-color: darkgrey;
    width: 150px;
    height: 25px;

}
