.global-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

/* .global_width {
    width

} */

.spot_title_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 70px;
    padding: 10px
}

.parent_image_container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    width: 90%;
    height: 450px;
}

.big_image_container {

    width: 50%;
    height: 450px;
}

.big_image_container img {
    /* max-width: 100%; */
    height: 100%;
    width: 99.5%;
    border-radius: 20px;
    object-fit: cover;
}

.small_images_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 49.5%;
    height: 100%;
    flex-wrap: wrap;
}

.small_images {
    height: 49.5%;
    width: 49.5%;
}

.small_images img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    /* max-width: 100%; */
    object-fit: cover;

}

.spot_details_container {
    display: flex;
    padding: 20px;
    /* align-items: flex-start; */
    justify-content: space-between;
    /* flex-direction: column; */
    width: 90%;
    min-height: 180px

}

.spot_details_text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 65%;

}

.callout_container {
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    width: 325px;
    flex-direction: column;
    max-height: 130px;
    justify-content: space-evenly;
}

.callout_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.callout_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.callout_button button {
    background-color: brown;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    width: 90%;
    height: 60px
}



.reviews_container {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 90%;
    padding: 10px;
    height: fit-content;
    min-height: 300px;
}

.reviews_container button {
    width: 150px;
    height: 30px;

}

.review {
    display: flex;
    width: 45%;
    gap: 10px;
    min-height: 150px;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
}

.review button {
    width: 15%;
    background-color: darkgrey;
    border-radius: 10px;
}

div#modal-content {
    display: flex;
    width: 350px;
    height: 200px;
    padding: 5px;
    justify-content: space-between;
    border-radius: 10px;
}


form.review-form {
    width: 96%;
    display: flex;
    justify-content: space-between;
}

form.review-form textarea{
    height:30%;
}

form.review-form input {
    width: 103%
}

.star-rating-input {
    display: flex;
    gap: 10px;


}

.modal_delete_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

}

.delete_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 30%;
}

.delete_buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 90%
}

.delete_buttons button {
    width: 100%;
    height: 40%;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

.yes_button {
    background-color: rgb(205, 51, 51);
}

.no_button {
    background-color: darkgrey;
}
