.global-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

/* .global_width {
    width

} */

.spot_title_text {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px
}

.parent_image_container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 90%;
    height: 450px;
}

.big_image_container {
    border: 2px solid rgb(221, 155, 23);
    width: 49%;
    height: 450px;
}

.big_image_container img {
    /* max-width: 100%; */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.small_images_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
}

.small_images {
    height: 49.25%;
    width: 49.25%;
}

.small_images img {
    height: 100%;
    width: 100%;
    /* max-width: 100%; */
    object-fit: cover;

}

.spot_details_container {
    display: flex;
    padding: 10px;
    /* align-items: flex-start; */
    justify-content: space-between;
    /* flex-direction: column; */
    width: 90%;

}

.spot_details_text {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 65%;

}

.callout_container {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    width: 325px;
    flex-direction: column;
    min-height: 100px;
    justify-content: space-evenly;
}

.callout_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.callout_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.callout_button button {
    background-color: brown;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    width: 90%;
    height: 60px
}



.reviews_container {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    padding: 10px;

}

.review {
    display: flex;
    width: 45%;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
}

.review button {
    width: 15%;
    background-color:darkgrey ;
}

div #modal-content {
    display: flex;
    width: 350px;
    height: 200px;
    padding: 5px;
    justify-content: space-between;
}

.modal_review_delete_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid red
}

.review_delete_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 30%;
}

.review_delete_buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 90%
}
.review_delete_buttons button {
    width: 100%;
    height: 40%
}

.yes_button {
    background-color: rgb(205, 51, 51);
}
.no_button {
    background-color: darkgrey;
}
