.global-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

/* .global_width {
    width

} */

.spot_title_text {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px
}

.parent_image_container {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    overflow: hidden;
    flex-wrap: wrap;
    border: 2px solid rgb(0, 255, 30);
    width: 90%;
    height: 450px;
}

.big_image_container {
    border: 2px solid rgb(221, 155, 23);
    width: 49%;
    height: 450px;
}

.big_image_container img {
    /* max-width: 100%; */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.small_images_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
    border: 2px solid blue;
}

.small_images {
    height: 49%;
    width: 49%;
    border: 2px solid red;

}

.small_images img {
    height: 100%;
    width: 100%;
    /* max-width: 100%; */
    object-fit: cover;

}

.spot_details_container {
    display: flex;
    padding: 10px;
    /* align-items: flex-start; */
    justify-content: space-between;
    /* flex-direction: column; */
    width: 90%;


}

.spot_details_text {
    display: flex;
    flex-wrap: wrap;
    width: 70%;

}

.callout_container {
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    width: 240px;
    flex-direction: column;
    min-height: 100px;
    justify-content: space-around;
}

.callout_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.callout_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.callout_button button {
    background-color: brown;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    width: 90%;
    height: 40px
}
