.profile-dropdown.hidden {
    display: none
}

header {
    position: sticky;
    top: 0px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 5px;
}

img.airbnb_logo {
    position: absolute;
    left: 1%;
    top: 15%;
    max-height: 38px;
}

/* h1 {
    position: absolute;
    left: 4.2%;
    top: 10%;
} */

a {
    text-decoration: none;
    color: white;
}

div.logo_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 255px;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 55px;
    width: 200px
        /* flex-direction: row; */
}

nav button {
    width: 55px;
    height: 55px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

div.profile-button {
    height: 35px
}



i.fa-solid.fa-ghost:before {
    height: 65px;
    width: 65px;
    color: white;
}

.profile-dropdown {
    background-color: antiquewhite;
    color: black;
    position: relative;
    right: 0%;
    top: 10%;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    max-width: 200px;
    min-height: 150px
}
